
@{
    ViewBag.Title = "ResultPage";
}

<h2>Loan Payment Result</h2>

<h4>This will be your payment amount for a term length of: @ViewBag.termLength months at @ViewBag.interestRate% for the amount
    of $@ViewBag.loanAmount:</h4>
<h4>$@ViewBag.loanPaymentResult</h4>