@model Homework8.Models.ViewModels.GenreArtworkViewModel



@if (Model.Artwork != null && Model != null)
{
    <ul>
        @foreach (var item in Model.Artwork)
            {
            <li>
    
                <h4>@Html.DisplayFor(model => item.Title)</h4> 
                <h4>@Html.DisplayFor(model => item.Artist)</h4>

            </li>
        }
    </ul>
}

