@model Homework8.Models.ViewModels.GenreArtworkViewModel



@if (Model.Artwork != null && Model != null)
{
    <h4>Artwork Details</h4>
    <ul>
        @foreach (var item in Model.Artwork)
        {
            <li>
    
                <h4>Title: @Html.DisplayFor(model => item.Title)</h4> 
                <h4>Artist: @Html.DisplayFor(model => item.Artist)</h4>

            </li>
        }
    </ul>
}

