@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/LandingPage.css" />

<div class="parallex" id="home-banner">
    <div>
        <div id="homebanner-jumbotron" class="jumbotron jumbotron-fluid">
            <div id="jumbotron-container" class="container">
                <h1 class="display-3">Reach Your Peak</h1>
                <p class="lead">Look at this website. Just look at it. It could be yours. This could be the first, awesome thing, your
                customers see before purchasing a ton of stuff from you. What are you waiting for? Give me your money.</p>
                <div id="homebanner-nav-list-container">
                    <br />
                    <ul id="banner-list-nav" class="nav justify-content-center">
                        
                        <li class="nav-item">
                            <a id="mens-drop-link" class="nav-link banner-nav-link" href="#">Men's</a>
                        </li>
                        <li class="nav-item">
                            <a id="womens-drop-link" class="nav-link banner-nav-link" href="#">Women's</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link banner-nav-link" href="#">Childern</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link banner-nav-link" href="#">Products</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
           
        </div>

        <div id="banner-drop-downs">
            <div id="mens-drop-down" class="banner-dropdown">
                <p>Mens DropDown</p>
            </div>

            <div id="womens-drop-down" class="banner-dropdown">
                <p>Womens DropDown</p>
            </div>

            <div class="banner-dropdown">
                <p>Childrens DropDown</p>
            </div>
            
            <div class="banner-dropdown">
                <p>Products DropDown</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div id="test">
    <p>test</p>
</div>

@section scripts{
    <script src="~/Scripts/LandingPage.js" ;></script>    
}