
@{
    ViewBag.Title = "ReviewAccepted";
}

<h2>Review Accepted!</h2>

<h4>Thank you so much for your review of this product!</h4>
<br />
<p>We hope to continue serving you!</p>

@Html.ActionLink("Back to Main Page", "Index", "Home")

