
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="row">
    <div class="col-sm-9">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu nibh et tellus fringilla luctus sit amet vel sem. Donec sapien dui, 
            aliquet ut enim eu, feugiat iaculis ipsum. Mauris consectetur dolor ac posuere blandit. Phasellus pretium risus sit amet nisi pharetra 
            malesuada. Suspendisse eget turpis molestie mauris finibus tincidunt. Cras blandit vitae erat porta egestas. Nunc molestie suscipit finibus. 
            Morbi massa nulla, lacinia sit amet nisl non, blandit varius libero. Pellentesque posuere tincidunt justo ac laoreet. Cras sed dignissim neque, ut feugiat dolor. 
            Nulla pulvinar leo eu elit condimentum, nec tincidunt odio ornare.
            Integer a quam elementum, posuere ipsum vitae, gravida lectus. Duis non erat ac magna dictum pellentesque. 
            Mauris sit amet nisi non urna viverra tristique. Vestibulum luctus cursus dui at blandit. Sed sed metus tortor. Curabitur orci urna, mattis non magna et, vestibulum maximus orci.
            Ut scelerisque facilisis sem in posuere. Nulla ac laoreet ipsum</p>
    </div>
    <div class="col-sm-2">
        <h4>Homework #4 <br/> Page Links</h4>
        <ul>
            <li> @Html.ActionLink("Page #1", "GravityCalculation", "GravityCalculation")</li>
            <li>Page #2</li>
            <li>Page #3</li>
            <li>Page #4</li>
        </ul>
    </div>
</div>
