
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div class="row">
    <div class="col-sm-9">
        <p> Welcome to the webpage for my Homework #4 assignment! Here I will be working on the basics of MVC .NET by building a few calculator functions. You can navigate
        to these pages by using the links on the right side of the page. The theme of the first two pages will be based around homebrewing beer and wine. This is a hobby
        that I picked up over the summer and have really enjoyed, but I found myself continually referencing back to a bulky text book for the way to calculate the ABV (alcohol
        by volume) and the gravity corrections of my beer. So I created a program to just do it for me! I have also included the loan calculation section (suggested in the handout) 
        although I will most likely change this in the future to be an IBU (internal bittering units) calculator when I get a bit more experiece with brewing. The loan calculator 
        will be a great template though and the converstion should be quick. Thanks for taking a look! </p>
    </div>
    <div class="col-sm-2">
        <h4>Homework #4 <br/> Page Links</h4>
        <ul>
            <li>@Html.ActionLink("Page #1", "GravityCalculation", "GravityCalculation")</li>
            <li>@Html.ActionLink("Page #2", "TemperatureAdjustment", "TemperatureAdjustment")</li>
            <li>@Html.ActionLink("Page #3", "LoanCalculator", "LoanCalculator")</li>
        </ul>
    </div>
</div>
