@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework #5</h1>
    <p class="lead">Easy landing page for us to just jump into this project! Click below to get started!</p>
    <p><a href="~/DMVForm" class="btn btn-primary btn-lg">Take Me There &raquo;</a></p>
</div>
