@model Homework8.Models.ViewModels.GenreArtworkViewModel
@{
    ViewBag.Title = "ArtworksDb";
}

<div class="jumbotron">
    <h1>Wow! This is it huh? Last lab....well kinda.</h1>
    <h3>The next one we will be deploying this website to Azure, but maybe that will be really easy?</h3>

    <p>Anyways, this has been fun! Here is the last webpage that I have created. We were required to 
    create a database from scratch and implement it here. It was based off of artist and different artworks!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Search by Genre</h4>
        <ul>
            @foreach(var item in Model.Genre){
                <li>
                    <!--button with the genre attached to the value for processing.-->
                    <button value="@Html.DisplayFor(modelItem => item.Genre1)" class="genre-button">
                        
                        @Html.DisplayFor(model => item.Genre1)
                    
                    </button>

                </li>       
             }
        </ul>
    </div>
    <div class="col-md-4" id="artwork-container">
    
    </div>
    
    <div class="col-md-4" id="artwork-details">
        
    </div>
</div>
@section scripts{
    <script src="~/Scripts/homepage.js"></script>
}