
@{
    ViewBag.Title = "GravityCalculation";
}

<h2>ABV Calculator</h2>
<br />

<div class="row">
    <div class="col-sm-4">
        <img class="img-responsive" src="~/Content/Photos/homebrew-station.jpg" />
    </div>
    <div class="col-sm-8">
        <h4>Welcome to the ABV(Alcohol By Volume) Calculator!</h4>
        <p>As a new brewer, you already have enough to worry about with cleaning, timing, making sure your aren't skipping steps. 
           This tool is here to take the guess work out of finding the approximate alcohol content of your finished homebrew!</p>
        <form method="post" action="~/GravityCalculation/GravityFormInformation">
            <input class="form-control" type="text" name="original-gravity" placeholder ="Original Gravity (Ex. 1.056)" />

            <br />
        
            <input class="form-control" type="text" name="specific-gravity" placeholder="Specific Gravity (Ex. 1.010)" />
        
            <input type="submit" name="submit" value="Submit" />
        </form>
        <br />
        

        <div class="alert alert-info" role="alert">
            <h5>This will be for the output.</h5>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>

