
@{
    ViewBag.Title = "GravityFormInformation";
}

<h2>Information From Your Gravity Form!</h2>

<p> @ViewBag.originalGravity is the Original Gravity and @ViewBag.specificGravity is the Specific Gravity.</p>
<p>Your Approximate Alcohol by Volume (ABV) is: @ViewData["abv"]</p>

