body {

}

.parallex {
    background-image: url("SitePhotos/homepage-banner.jpg");

    height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
}

#homebanner-jumbotron {
    background-color: rgba(255, 255, 255, 0.35);
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px;
    border-radius: 0px;
}

ul {
    list-style: none;
}


#homebanner-nav-list-container {
    width: 100%;
}

#banner-list-nav > .nav-item {
    margin-left: 25px;
    margin-right: 25px;

}

.banner-dropdown {

    display: none;
    background-color: rgba(255, 255, 255, 0.35);
    margin-left: 15%;
    margin-right: 15%;
    height: 175px;
    
}

.background-none {
    background-color: rgba(255, 255, 255, 0.00) !important;
}

.nav-link {
    border-radius: 10px;    
}


#test {
    height: 500px;
}
